# ========================
# ENV
# ========================
.env
.env.*

# ========================
# BACKEND LARAVEL
# ========================
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/logs/*
backend/bootstrap/cache/*

# ========================
# FRONTEND REACT
# ========================
Frontend_React/node_modules/
Frontend_React/dist/
Frontend_React/build/

# ========================
# GENERAL
# ========================
.DS_Store
Thumbs.db
*.log
